.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAC9B4;
    height: 10vh;
}

.btnDropdown:hover {
    background-color: #3E6478;
    color: #fff;
}
