.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FAC9B4;
    height: 10vh;
}


.btnDropdown:hover {
    background-color: #FAC9B4;
    color: #ab1c5a;
    }
