h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;

}

a {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}